*,
::before,
::after {
  box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

.board {
  width: 608.9px;
  height: 606px;
  background-color: #2abe96;
  margin: auto;
  margin-top: 20px;
}

.square {
  width: 200px;
  height: 200px;
  background-color: white;
  display: inline-block;
}

.nought {
  background-color: black;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 10px auto;
  position: relative;
}

.nought::before {
  background-color: white;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  content: "";
}
