*,
::before,
::after {
  box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

.board {
  width: 608.9px;
  height: 606px;
  background-color: #2abe96;
  margin: auto;
  margin-top: 20px;
}

.square {
  width: 200px;
  height: 200px;
  background-color: white;
  display: inline-block;
}

.nought {
  background-color: black;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 10px auto;
  position: relative;
}

.nought::before {
  background-color: white;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  content: "";
}

.cross {
  background-color: black;
  width: 11px;
  height: 190px;
  margin: auto;
  margin-top: 10px;
  position: relative;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
}

.cross::after {
  background-color: black;
  width: 190px;
  height: 11px;
  top: 89px;
  left: -89.5px;
  position: absolute;
  content: "";
}

.empty {
  background-color: white;
  width: 200px;
  height: 200px;
}

.winner h2 {
  text-align: center;
  color: blue;
}

.winning-square {
  background-color: red;
}
